<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>Component {{item().displayName}}</mat-panel-title>

      <mat-panel-description>
        TODO produced items
      </mat-panel-description>

    </mat-expansion-panel-header>
    <app-recipe-picker [item]="item()" (selectedRecipe)="selectedRecipe.next($event)" ></app-recipe-picker>


    <div *ngIf="selectedRecipe | async as recipe">
      @for (ingredient of recipe.ingredients; track ingredient) {
        @if (ingredient.item.extractedIn.size > 0) {
          <p>root</p>
        }
        @else {
          <app-factory-composer [item]="ingredient.item"></app-factory-composer>
        }
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>
