<div>
  @for (site of extractingSites; track site.id) {
    <mat-card>
      <mat-card-header>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>add</mat-icon></button>
        <mat-menu #menu="matMenu">
          @for (purity of purityOptions; track purity) {
            <button mat-menu-item [value]="purity" (click)="addExtractingSiteNode(purity, site)">{{purity}}</button>
          }
        </mat-menu>
        <mat-card-title>
          {{site.automaton.displayName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{site.factorySiteTarget.displayName}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          @for (node of getExtractingNodes(site); track node) {
            <div class="flexbox-row" style="justify-content: space-between">
              <mat-form-field style="width: 40%">
                <mat-label>Node Purity</mat-label>
                <mat-select [(ngModel)]="node.purity" (selectionChange)="configChanged.emit(false)">
                  @for (purity of purityOptions; track purity) {
                    <mat-option [value]="purity">{{purity}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 30%">
                <mat-label>Overclocking profile</mat-label>
                <input matInput type="number" [(ngModel)]="node.overclockProfile" (ngModelChange)="configChanged.emit(false)">
              </mat-form-field>
            </div>
            <div class="flexbox-column">

              <mat-slider min="1" max="250" step="0.5" style="width: 100%;">
                <input matSliderThumb [(ngModel)]="node.overclockProfile">
              </mat-slider>
            </div>
          }

      </mat-card-content>
    </mat-card>
  }
</div>
