<!--
<mat-accordion>
  @if (graphSubject | async; as graph) {

    @for (node of graph.getItemNodes(); track node; let idx = $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{node.label}}</mat-panel-title>
          <mat-panel-description>{{graph.displayNumber(graph.getItemNumberDisplay(node))}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    }
  } @else {
    <p>No data yet</p>
  }

</mat-accordion>
-->
