<div>
  @for (factoryRequirement of requiredFactoryItems; track factoryRequirement; let idx = $index; let isLast = $last) {
    <div class="flexbox-column">
      <div class="flexbox-row" style="justify-content: space-between;">
        <app-item-descriptor-picker [style.width]="'100%'"
                                    [title]="'Required item'"

                                    [itemSelected]="factoryRequirement.item"
                                    (onClear)="onRequirementRemoved(idx)"></app-item-descriptor-picker>
      </div>
      <div class="flexbox-row" style="justify-content: space-between">
        <app-recipe-picker [itemSelected]="factoryRequirement.item"
                           [recipeSelected]="factoryRequirement.manufacturing">
        </app-recipe-picker>
        <app-amount-picker [amountSelected]="factoryRequirement.requiredAmount"></app-amount-picker>
      </div>
    </div>


    @if (!isLast) {
      <mat-divider style="margin-bottom: 16px"></mat-divider>
    }

  }




</div>
