<form>
  <mat-form-field style="width: 16em">
    <mat-label>Selected recipe</mat-label>
    <mat-select [(ngModel)]="selectedRecipeClass" name="recipe">
      <mat-option [value]="NO_OPTION_ITEM.value">{{NO_OPTION_ITEM.label}}</mat-option>

      @for (recipe of recipes | async; track recipe.className) {
        <mat-option [value]="recipe.className">{{recipe.displayName}}</mat-option>
      }
      @for (extractor of itemSelected.value?.extractedIn; track extractor.className) {
        <mat-option [value]="extractor.className">{{extractor.displayName}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
