<mat-grid-list cols="4" gutterSize="0px" rowHeight="fit" [style.width]="'100%'" class="page-content">
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="2">
    <!--
        <mat-tab-group>
          <mat-tab label="Graph view" >
    -->

    @if (graphSubject | async; as graph) {
          <app-factory-graph  [style.width]="'100%'"  [graphSubject]="graphSubject" [requirements]="requirements!!"
                             [updateGraphSubject]="updateGraphSubject"></app-factory-graph>
        }

<!--
      </mat-tab>
      <mat-tab label="List view">
-->
        <app-factory-list-view [graphSubject]="graphSubject"></app-factory-list-view>
<!--
      </mat-tab>
    </mat-tab-group>
-->
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="2"
  >

    <app-factory-requirements style="width: 100%;" [graphSubject]="graphSubject"
                              [updateGraphSubject]="updateGraphSubject"></app-factory-requirements>
  </mat-grid-tile>

</mat-grid-list>
<div class="sticky-bottom">
  <div class="flexbox-row">
    <button mat-fab aria-label="Add factory requirement" (click)="requirements?.addFactoryRequirement()">
      <mat-icon>add</mat-icon>
    </button>

    <div style="margin: 4px"></div>

    <button mat-fab aria-label="Supply item" (click)="requirements?.addFactoryRequirement()">
      <mat-icon>upload</mat-icon>
    </button>

    <div style="margin: 4px"></div>


    <button mat-fab aria-label="Save factory site" (click)="saveSite()">
      <mat-icon>arrow_circle_right</mat-icon>
    </button>

  </div>
</div>
