<mat-grid-list cols="2">
  <mat-grid-tile colspan="1"  rowspan="1">
    <mat-tab-group>
      <mat-tab label="Graph view">

        @if (graphSubject | async; as graph) {
          <app-factory-graph [graphSubject]="graphSubject" [requirements]="requirements" [updateGraphSubject]="updateGraphSubject"></app-factory-graph>
        }

      </mat-tab>
      <mat-tab label="List view"> Content 2</mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <app-factory-requirements [graphSubject]="graphSubject" [updateGraphSubject]="updateGraphSubject"></app-factory-requirements>
  </mat-grid-tile>
</mat-grid-list>
