<mat-grid-list cols="4" gutterSize="0px" rowHeight="fit" [style.width]="'100%'" class="page-content">
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="2">
    <!--
        <mat-tab-group>
          <mat-tab label="Graph view" >
    -->

    <app-factory-graph  [style.width]="'100%'" [graphSubject]="graphSubject" [updateGraphSubject]="updateGraphSubject" (nodeClicked)="nodeClicked($event)"></app-factory-graph>

<!--
      </mat-tab>
      <mat-tab label="List view">
-->
        <app-factory-list-view [graphSubject]="graphSubject"></app-factory-list-view>
<!--
      </mat-tab>
    </mat-tab-group>
-->
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="2"
  >

    <mat-tab-group>
      <mat-tab label="Requirements">
        <app-factory-requirements style="width: 100%;"
                                  (requirementUpdated)="reload($event)"
        ></app-factory-requirements>
      </mat-tab>

      <mat-tab label="Supply">
        <app-factory-supplies  style="width: 100%;" (suppliedItemsUpdated)="reload($event)">

        </app-factory-supplies>
      </mat-tab>
      <mat-tab label="Extraction">
        <app-extraction-config [graphSubject]="graphSubject" [updateGraphSubject]="updateGraphSubject" (configChanged)="reload($event)"></app-extraction-config>
      </mat-tab>

    </mat-tab-group>

  </mat-grid-tile>

</mat-grid-list>
<div class="sticky-bottom">
  <div class="flexbox-row">
    <button mat-fab aria-label="Add factory requirement"
            matTooltip="Add a factory requirement"
            (click)="requirements.addFactoryRequirement()">
      <mat-icon>download</mat-icon>
    </button>

    <div style="margin: 4px"></div>

    <button mat-fab aria-label="Supply item"
            matTooltip="Supply an item"
            (click)="suppliesComponent.addSuppliedItem()">
      <mat-icon>upload</mat-icon>
    </button>

    <div style="margin: 4px"></div>


    <button mat-fab aria-label="Save factory site"
            matTooltip="Save your factory site"
            (click)="saveSite()">
      <mat-icon>arrow_circle_right</mat-icon>
    </button>

  </div>
</div>
