<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{ title }}</h1>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-divider></mat-divider>
      <mat-nav-list>
        @for (nav of routes; track nav) {
          <a mat-list-item routerLink="{{nav.route}}">{{nav.label}}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <ng-content class="content-wrapper-horizontal"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
