.item-descriptor-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.item-descriptor-picker-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.required-amount-input-container {
  margin-left: auto;
  margin-right: 8px;
}

.item-descriptor-picker-icon {
  max-height: 32px;
}

.number-input {
  width: 6em;

}
