<mat-form-field style="width: 100%;">
  <mat-label>{{ title }}</mat-label>

  <div style="display: flex; align-items: center;">
    <img *ngIf="itemSelected | async as item" class="png-icon" style="height: 26px; margin-right: 16px" src="{{item.icon.link}}"
         alt="${{item.icon.objectPath}}">
    <input type="text" matInput [formControl]="itemDescriptorFormControl" [matAutocomplete]="auto">
    <button mat-icon-button aria-label="Remove requirement" (click)="onClear.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">

    @for (option of filteredOptions | async; track option.className) {
      <mat-option [value]="option">{{ option.displayName }}</mat-option>
    }
  </mat-autocomplete>

</mat-form-field>


