<form class="picker">
    <div *ngIf="selectedItem !== undefined">
      <img src="{{selectedItem.icon.link}}" alt="${{selectedItem.icon.objectPath}}">
    </div>

    <mat-form-field class="image-container">
      <mat-label>Item</mat-label>
      <input type="text" matInput [formControl]="itemDescriptorFormControl" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option.displayName}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>


  <mat-form-field class="number-input">
      <mat-label>Number</mat-label>
      <input type="number" matInput [formControl]="itemNumberFormControl">
    </mat-form-field>
</form>
