<div >
  @if (graphSubject | async; as graph) {
    <ngx-graph
      class=" graph-preview"
      [links]="graph.edges"
      [nodes]="graph.nodes"
      [draggingEnabled]="false"
      [update$]="updateGraphSubject"
      layout="dagre"
    >
      <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" fill="white"/>
        </svg:marker>
      </ng-template>

      <ng-template #nodeTemplate let-node>

        <svg:g>
          <svg:foreignObject [attr.width]="getNodeWidth(node)" [attr.height]="getNodeHeight(node)">
            <mat-card appearance="outlined" style="width: 250px; height: 100%">
              <mat-card-content>
                <div  class="graph-content-container">
                  <div class="graph-image-container">
                    <img mat-card-image [matTooltip]="getNodeTooltip(node)" [class]="'png-icon'"
                         [attr.src]="getNodeIcon(node)">
                    <div class="required-number" *ngIf="isItemSiteNode(node)">
                      {{ graph.displayNumber(graph.getItemNumberDisplay(node)) }}/min
                    </div>
                    <div class="required-number" *ngIf="isCraftingSiteNode(node)">
                      x{{ graph.displayNumber(node.requiredMachines) }}
                    </div>
                  </div>
                  <button mat-button (click)="onNodeClick(node)">{{ node.label }}</button>
                </div>
              </mat-card-content>
            </mat-card>
          </svg:foreignObject>


        </svg:g>
      </ng-template>

      <ng-template #linkTemplate let-link>
        <svg:g class="edge" >
          <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
          <svg:text class="edge-label" text-anchor="middle" style="fill: white"
          >
            <textPath
              class="text-path"
              [attr.href]="'#' + link.id"
              [style.dominant-baseline]="link.dominantBaseline"
              startOffset="50%"
            >
              {{ this.graph.displayNumber(graph.computeLink(link) ) }} / min
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  }
</div>
