<div>
  @if (graphSubject | async; as graph) {
    <ngx-graph
      class=" graph-preview"
      [links]="graph.edges"
      [nodes]="graph.nodes"
      [update$]="updateGraphSubject"
      layout="dagre"
    >
      <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" fill="white"/>
        </svg:marker>
      </ng-template>

      <ng-template #clusterTemplate let-cluster>
        <svg:g class="node cluster">
          <svg:text alignment-baseline="top" [attr.x]="10" [attr.y]="cluster.dimension.height / 2">
            {{ cluster.label }}
          </svg:text>
          <svg:rect
            rx="5"
            ry="5"
            [attr.width]="cluster.dimension.width"
            [attr.height]="cluster.dimension.height"
            [attr.fill]="cluster.data.color"
          />
        </svg:g>
      </ng-template>

      <ng-template #nodeTemplate let-node>

        <svg:g>
          <svg:foreignObject [attr.width]="250" [attr.height]="100">
            <mat-card appearance="outlined" style="width: 250px; height: 100px">
              <mat-card-content>
                <div  class="graph-content-container">
                  <div class="graph-image-container">
                    <xhtml:img [matTooltip]="getNodeTooltip(node)" [class]="'png-icon'"
                               [attr.src]="getNodeIcon(node)"></xhtml:img>
                    <div class="required-number" *ngIf="isItemSiteNode(node)">
                      {{ graph.displayNumber(graph.getItemNumberDisplay(node)) }}/min
                    </div>
                    <div class="required-number" *ngIf="isCraftingSiteNode(node)">
                      x{{ graph.displayNumber(node.requiredMachines) }}
                    </div>
                  </div>
                  <button mat-button (click)="onNodeClick(node)">{{ node.label }}</button>

                  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isExtractingSiteNode(node)"
                          class="graph-button"
                          aria-label="Configure extracting nodes"
                          matTooltip="Configure extracting nodes"
                          (click)="onExtractingSiteClicked(node)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>


                @if (isExtractionNode(node)) {
                  <div class="flexbox-column">
                    <mat-form-field>
                      <mat-label>Overclocking profile</mat-label>
                      <input matInput type="number" [(ngModel)]="node.overclockProfile">
                    </mat-form-field>

                    <mat-slider min="1" max="250" step="0.5" style="width: 100%;">
                      <input matSliderThumb [(ngModel)]="node.overclockProfile">
                    </mat-slider>
                  </div>
                }

                <mat-menu #menu="matMenu">
                  @for (entry of  extractingSiteConfig.getNodesOptions(); track entry) {
                    <button mat-menu-item (click)="addExtractingSiteNode(entry, node)">
                      <span>{{ Purity[entry] }}</span>
                    </button>
                  }
                </mat-menu>

              </mat-card-content>
            </mat-card>

            <div>


            </div>
          </svg:foreignObject>


        </svg:g>
      </ng-template>

      <ng-template #linkTemplate let-link>
        <svg:g class="edge" >
          <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
          <svg:text class="edge-label" text-anchor="middle" style="fill: white"
          >
            <textPath
              class="text-path"
              [attr.href]="'#' + link.id"
              [style.dominant-baseline]="link.dominantBaseline"
              startOffset="50%"
            >
              {{ this.graph.displayNumber(graph.computeLink(link) ) }} / min
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  }
</div>
