@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
  width: 100%;
  @include mat.all-component-themes($theme);
}

html {
  height: 100%;
}

.png-icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

